<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Appru - Asp.Net Core 2.2</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600|Roboto:400,400i,500" rel="stylesheet">
    <!--
            CSS
            ============================================= -->
    <link rel="stylesheet" href="~/template/appru/css/linearicons.css">
    <link rel="stylesheet" href="~/template/appru/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/template/appru/css/bootstrap.css">
    <link rel="stylesheet" href="~/template/appru/css/magnific-popup.css">
    <link rel="stylesheet" href="~/template/appru/css/nice-select.css">
    <link rel="stylesheet" href="~/template/appru/css/hexagons.min.css">
    <link rel="stylesheet" href="~/template/appru/css/owl.carousel.css">
    <link rel="stylesheet" href="~/template/appru/css/main.css">
</head>
<body>
    <!-- start header Area -->
    @await Html.PartialAsync("_header")
    <!-- end header Area -->
    <!-- start banner Area -->
    @await Html.PartialAsync("_homeBanner")
    <!-- End banner Area -->
    @RenderBody()
    <!-- Start Footer Area -->
    @await Html.PartialAsync("_footer")
    <!-- End Footer Area -->
    <script src="~/template/appru/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="~/template/appru/js/tilt.jquery.min.js"></script>
    <script src="~/template/appru/js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="~/template/appru/js/easing.min.js"></script>
    <script src="~/template/appru/js/hoverIntent.js"></script>
    <script src="~/template/appru/js/superfish.min.js"></script>
    <script src="~/template/appru/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/template/appru/js/jquery.magnific-popup.min.js"></script>
    <script src="~/template/appru/js/owl.carousel.min.js"></script>
    <script src="~/template/appru/js/owl-carousel-thumb.min.js"></script>
    <script src="~/template/appru/js/hexagons.min.js"></script>
    <script src="~/template/appru/js/jquery.nice-select.min.js"></script>
    <script src="~/template/appru/js/waypoints.min.js"></script>
    <script src="~/template/appru/js/mail-script.js"></script>
    <script src="~/template/appru/js/main.js"></script>
</body>
</html>