<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <!--- Basic Page Needs  -->
    <meta charset="utf-8">
    <title>Appson Preview - Asp.Net Core 2.2</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Meta  -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700|Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <!-- CSS -->
    <link rel="stylesheet" href="~/template/appson/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/template/appson/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/template/appson/css/preview.css">
    <link rel="stylesheet" href="~/template/appson/css/responsive.css">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="~/template/appson/img/favicon.ico">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body data-spy="scroll" data-target="#scroll-menu" data-offset="100">
    @RenderBody()
    <!-- Scripts -->
    <script src="~/template/appson/js/jquery-1.12.4.min.js"></script>
    <script src="~/template/appson/js/bootstrap.min.js"></script>
    <script src="~/template/appson/js/theme.js"></script>
</body>

</html>
