<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <!--- Basic Page Needs  -->
    <meta charset="utf-8">
    <title>Appson Preview</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Meta  -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700|Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <!-- CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/preview.css">
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="img/favicon.ico">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body data-spy="scroll" data-target="#scroll-menu" data-offset="100">
    <!-- Preloader -->
    <div class="preloader-wrap">
        <div class="preloader-inside">
            <div class="preloader">
                <div class="preloader-inner box1"></div>
                <div class="preloader-inner box2"></div>
                <div class="preloader-inner box3"></div>
            </div>
        </div>
    </div>
    <!-- End Preloader -->
    <!-- Header Section -->
    <header id="home">
        <div class="full-wrap hero-wrap">
            <div class="hero-inner">
                <div class="hero-wrap-inside">
                    <h1>Appson</h1>
                    <span>Apps Landing Html Template</span>
                    <div class="purchase-button">
                        <a href="#" class="btn btn-default btn-orange"><i class="fa fa-shopping-cart"></i> | Purchase Now</a>
                        <a class="btn btn-default btn-orange smoothscroll" href="#page_layout"><i class="fa fa-link"></i> | View Demo</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Page layout Section -->
    <div class="page-layout" id="page_layout">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="layout-title">
                        <h2>7 HOME PAGE | AND OTHER LAYOUT'S</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="single-preview">
                                <div class="preview-content">
                                    <a href="appson/index.html" target="_blank">
                                        <div class="preview-content-thumb" style="background-image: url(img/index.jpg)"></div>
                                    </a>
                                </div>
                                <div class="thumb-title">
                                    <h2><a href="appson/index.html" target="_blank">#1 Gradiant</a></h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="single-preview">
                                <div class="preview-content">
                                    <a href="appson/index2.html" target="_blank">
                                        <div class="preview-content-thumb" style="background-image: url(img/index2.jpg)"></div>
                                    </a>
                                </div>
                                <div class="thumb-title">
                                    <h2><a href="appson/index2.html" target="_blank">#2 Backgroudn Video</a></h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="single-preview">
                                <div class="preview-content">
                                    <a href="appson/index3.html" target="_blank">
                                        <div class="preview-content-thumb" style="background-image: url(img/index3.jpg)"></div>
                                    </a>
                                </div>
                                <div class="thumb-title">
                                    <h2><a href="appson/index3.html" target="_blank">#3 Video Gradiant</a></h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="single-preview">
                                <div class="preview-content">
                                    <a href="appson/index4.html" target="_blank">
                                        <div class="preview-content-thumb" style="background-image: url(img/index4.jpg)"></div>
                                    </a>
                                </div>
                                <div class="thumb-title">
                                    <h2><a href="appson/index4.html" target="_blank">#4 Background Image</a></h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="single-preview">
                                <div class="preview-content">
                                    <a href="appson/index5.html" target="_blank">
                                        <div class="preview-content-thumb" style="background-image: url(img/index5.jpg)"></div>
                                    </a>
                                </div>
                                <div class="thumb-title">
                                    <h2><a href="appson/index5.html" target="_blank">#5 Background Gradiant</a></h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="single-preview">
                                <div class="preview-content">
                                    <a href="appson/index6.html" target="_blank">
                                        <div class="preview-content-thumb" style="background-image: url(img/index6.jpg)"></div>
                                    </a>
                                </div>
                                <div class="thumb-title">
                                    <h2><a href="appson/index6.html" target="_blank">#6 Rain Drops Canvas</a></h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="single-preview">
                                <div class="preview-content">
                                    <a href="appson/index7.html" target="_blank">
                                        <div class="preview-content-thumb" style="background-image: url(img/index7.jpg)"></div>
                                    </a>
                                </div>
                                <div class="thumb-title">
                                    <h2><a href="appson/index7.html" target="_blank">#7 Slider</a></h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="single-preview">
                                <div class="preview-content">
                                    <a href="appson/blog.html" target="_blank">
                                        <div class="preview-content-thumb" style="background-image: url(img/blog.jpg)"></div>
                                    </a>
                                </div>
                                <div class="thumb-title">
                                    <h2><a href="appson/blog.html" target="_blank">Blog Standard</a></h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="single-preview">
                                <div class="preview-content">
                                    <a href="appson/blog-with-sidebar.html" target="_blank">
                                        <div class="preview-content-thumb" style="background-image: url(img/blog-with-sidebar.jpg)"></div>
                                    </a>
                                </div>
                                <div class="thumb-title">
                                    <h2><a href="appson/blog-with-sidebar.html" target="_blank">Blog With Sidebar</a></h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="single-preview">
                                <div class="preview-content">
                                    <a href="appson/blog-left-sidebar.html" target="_blank">
                                        <div class="preview-content-thumb" style="background-image: url(img/blog-left-sidebar.jpg)"></div>
                                    </a>
                                </div>
                                <div class="thumb-title">
                                    <h2><a href="appson/blog-left-sidebar.html" target="_blank">Blog Left Sidebar</a></h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="single-preview">
                                <div class="preview-content">
                                    <a href="appson/blog-details.html" target="_blank">
                                        <div class="preview-content-thumb" style="background-image: url(img/blog-details.jpg)"></div>
                                    </a>
                                </div>
                                <div class="thumb-title">
                                    <h2><a href="appson/blog-details.html" target="_blank">Blog Details</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page layout Section Ends -->
    <div class="preview-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h3 class="preview-footer-title">
                            MAKE YOUR WEBSITE WITH OUR Apps Awesome Landing TEMPALTE
                        </h3>
                    <h4><a href="#" target="_blank" class="btn btn-dfault btn-preview"><i class="fa fa-shopping-cart"></i> | PURCHASE NOW!</a></h4>

<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact Section -->
    <!-- Scripts -->
    <script src="js/jquery-1.12.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/theme.js"></script>
</body>

</html>
