
@{
    ViewData["Title"] = "Features";
    Layout = "~/Views/Gaas/_Layout.cshtml";
}

<!--================ Start Features Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-left">
                <div class="page_link">
                    <a href="@Url.Action("Index", "Gaas")">Home</a>
                    <a href="@Url.Action("Features", "Gaas")">Features</a>
                </div>
                <h2>Exclusive Features</h2>
            </div>
        </div>
    </div>
</section>
<!--================ End Features Banner Area =================-->
<!--================Start Big Features Area =================-->
<section class="section_gap big_features">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <div class="main_title">
                    <p class="top_title">Features Specifications</p>
                    <h2>Amazing Features That make it Awesome!</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                </div>
            </div>
        </div>
        <div class="row features_content">
            <div class="col-lg-4 offset-lg-1">
                <div class="big_f_left">
                    <img class="img-fluid" src="~/template/gaas/img/f-img1.png" alt="">
                </div>
            </div>
            <div class="col-lg-4 offset-lg-2">
                <div class="common_style">
                    <p class="line">Modern Daesign Trends</p>
                    <h3>We Believe that <br /> Inner beauty Lasts Long</h3>
                    <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that as women.</p>
                    <a class="primary_btn" href="#"><span>Learn More</span></a>
                </div>
            </div>
            <div class="border-line"></div>
            <img class="shape1" src="~/template/gaas/img/shape1.png" alt="">
            <img class="shape2" src="~/template/gaas/img/shape2.png" alt="">
            <img class="shape3" src="~/template/gaas/img/shape1.png" alt="">
        </div>

        <div class="row features_content bottom-features">
            <div class="col-lg-5">
                <div class="common_style">
                    <p class="line">Modern Daesign Trends</p>
                    <h3>We Believe that <br /> Inner beauty Lasts Long</h3>
                    <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that as women.</p>
                    <a class="primary_btn" href="#"><span>Learn More</span></a>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-2">
                <div class="big_f_left">
                    <img class="img-fluid" src="~/template/gaas/img/f-img2.png" alt="">
                </div>
            </div>
            <div class="border-line"></div>
            <img class="shape1" src="~/template/gaas/img/shape1.png" alt="">
            <img class="shape2" src="~/template/gaas/img/shape2.png" alt="">
            <img class="shape3" src="~/template/gaas/img/shape1.png" alt="">
        </div>
    </div>
</section>
<!--================End Big Features Area =================-->
<!--================Impress Area =================-->
<section class="impress_area">
    <div class="container">
        <div class="impress_inner">
            <h2>Got Impressed to our features?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
            <a class="primary_btn" href="#"><span>Request Free Demo</span></a>
        </div>
    </div>
</section>
<!--================End Impress Area =================-->
<!--================ Start Testimonial Area =================-->
<div class="section_gap_top testimonial_area features_page">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <div class="main_title">
                    <p class="top_title">User Feedback</p>
                    <h2>What Our Clients Say About Us</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="active_testimonial owl-carousel" data-slider-id="1">
                    <!-- single testimonial -->
                    <div class="single_testimonial">
                        <div class="testimonial_head">
                            <img src="~/template/gaas/img/quote.png" alt="">
                            <h4>Fanny Spencer</h4>
                            <div class="review">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="testimonial_content">
                            <p>As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about it, you travel across her faceand She is the host to your journey.</p>
                        </div>
                    </div>

                    <div class="single_testimonial">
                        <div class="testimonial_head">
                            <img src="~/template/gaas/img/quote.png" alt="">
                            <h4>Fanny Spencer</h4>
                            <div class="review">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="testimonial_content">
                            <p>As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about it, you travel across her faceand She is the host to your journey.</p>
                        </div>
                    </div>

                    <div class="single_testimonial">
                        <div class="testimonial_head">
                            <img src="~/template/gaas/img/quote.png" alt="">
                            <h4>Fanny Spencer</h4>
                            <div class="review">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="testimonial_content">
                            <p>As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about it, you travel across her faceand She is the host to your journey.</p>
                        </div>
                    </div>

                    <div class="single_testimonial">
                        <div class="testimonial_head">
                            <img src="~/template/gaas/img/quote.png" alt="">
                            <h4>Fanny Spencer</h4>
                            <div class="review">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="testimonial_content">
                            <p>As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about it, you travel across her faceand She is the host to your journey.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================ End Testimonial Area =================-->
<!--================ Srart Brand Area =================-->
<section class="brand_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="owl-carousel brand-carousel">
                    <!-- single-brand -->
                    <div class="single-brand-item d-table">
                        <div class="d-table-cell">
                            <img src="~/template/gaas/img/brands/logo1.png" alt="">
                        </div>
                    </div>
                    <!-- single-brand -->
                    <div class="single-brand-item d-table">
                        <div class="d-table-cell">
                            <img src="~/template/gaas/img/brands/logo2.png" alt="">
                        </div>
                    </div>
                    <!-- single-brand -->
                    <div class="single-brand-item d-table">
                        <div class="d-table-cell">
                            <img src="~/template/gaas/img/brands/logo3.png" alt="">
                        </div>
                    </div>
                    <!-- single-brand -->
                    <div class="single-brand-item d-table">
                        <div class="d-table-cell">
                            <img src="~/template/gaas/img/brands/logo4.png" alt="">
                        </div>
                    </div>
                    <!-- single-brand -->
                    <div class="single-brand-item d-table">
                        <div class="d-table-cell">
                            <img src="~/template/gaas/img/brands/logo5.png" alt="">
                        </div>
                    </div>
                    <!-- single-brand -->
                    <div class="single-brand-item d-table">
                        <div class="d-table-cell">
                            <img src="~/template/gaas/img/brands/logo6.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Brand Area =================-->
